<!-- <p>recipe-item works!</p> -->
<!-- <a style="cursor: pointer;" [routerLink]="['/recipes', rElements.id]" class="list-group-item border clearfix p-2 bg-success p-2 text-dark bg-opacity-10" (click)="onItemClicked()"> -->
<a style="cursor: pointer;" [routerLink]="[index]" class="list-group-item border clearfix p-2 bg-success p-2 text-dark bg-opacity-10" routerLinkActive="active">
  <div class="float-start">
    <h4 class="list-group-item-heading">{{rElements.name}}</h4>
    <p class="list-group-item-text">{{rElements.description}}</p>
  </div>
  <span class="float-end">
    <img [src]="rElements.imagePath" alt="{{rElements.name}}" class="img-responsive" style="max-height: 80px;">
  </span>
</a>
